body {
  margin: 0;
  padding: 0;
  background-color: #111;
  color: white;
  font-family: 'Segoe UI', sans-serif;
}
button {
  background-color: #00ff99;
  color: #000;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}
button:hover {
  background-color: #00cc7a;
}
